
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/input.css">
    <title>Add Data</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
   

    <div class="feilds">
        <h1>Enter data here</h1>
        <form action="/admin/insert" method="post">

            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="dsin" name="dsin">
            <input type="text" placeholder="price" name="price">
            <input type="text" placeholder="code" name="code">
            <input type="text" placeholder="gst" name="gst">
            <input type="submit" class="btn" value="add">
        </form>

    </div>

   

</body>
</html>